@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background:aquamarine;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto' ,'sans-serif';
}

.wrapper {
  background: rgb(140, 140, 230);
  width: 30rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
}

.buttonbox {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 0.5em;
}